body{
    margin: 0px;
    padding: 0px;

}

.grid_box{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    
}
.card:hover{
    box-shadow: lightgray;
    opacity: 50%;
}
.card{
    display: grid;
    grid-template-rows: 20% 70% 10%;

}
main{
    padding: 16px;
    background-color: #a3b18a;

}

footer{
    padding: 24px 0;
    background: #588157;

}

img{
    height: 200px;
}

nav{

    padding: 16px;
    background:#588157;




}

a {
    color: black;
    text-decoration: none;
}
h1{
    text-align: center;
    font-size: 40px;
}

tr:nth-child(even){
    background: grey;

}
